body{
    margin: 0;
    padding: 0;
    background: #262626;
}

.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border: 15px solid #ff5f5f;
    border-radius: 50%;
    background: #fff;
}

.clock::before{
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    width: 40%;
    height: 6px;
    background: #262626;
    border-radius: 3px;
    animation: animate 4s linear infinite;
    transform-origin: left;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.clock::after{
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    width: 30%;
    height: 6px;
    background: #262626;
    border-radius: 3px;
    animation: animate 100s linear infinite;
    transform-origin: left;
    
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

 .clock1{ 
    /* padding: 10px;
    text-align: center; */
   position: relative;
   top: 5%;
   left: 45%; 
}
.clock2{
    position: relative;
    top: 35%;
    left: 90%; 
 }

 .clock3{
    position: relative;
    top: 26%;
    right: -3%; 

 }
 

.clock4{
   position: relative;
   top: 60%;
   left: 48%; 
} 

.clock5{
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 5%;
    height: 6px;
    border-radius: 50%;
    background: #ed2424;
}

